html,body {
  height: 100%;
}

h4 {
  margin: 2vh 0 0 2vh;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
   width: 5vh; height: 5vh;
   fill: currentColor;
   overflow: hidden;
   cursor: pointer;
   transition: all .3s;
}

.icon *{
  pointer-events: none;
}


 .level-light {
  color: #58b4ab;
}

.level-usual {
  color: #66638b;
}

.level-heavy {
  color: #DA635D;
}

.bgc-light {
  background-color: #58b4ab;
}
.bgc-usual {
  background-color: #66638b;
}
.bgc-heavy {
  background-color: #DA635D;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex: 0 0 12vh;
  background-color: #fff;
  box-shadow:  0px 2px 11px 0px #ccc;
  color: #777;
}

.theme-green {
  background-color: #58B4AB;
  background-image: url('../img/theme1.png');
  color: #fff;
}

.theme-purple {
  background-color: #66638B;
  background-image: url('../img/theme2.png');
  color: #fff;
}

.theme-gradual {
  background: #3E5151;
  background: linear-gradient(to right bottom, #58B4AB, #66638B);
  color: #fff;
}



.shoot {
  text-align: center;
  line-height: 12vh;
  padding: 0 2vh;
  user-select: none;
}

.things-state, .fire {
  display: none;
}

.shot {
  letter-spacing: 1vh;
  cursor: pointer;
}

.shot:hover {
  color: #58b4ab;
}

.shot-state {
  font-size: 3.5vh;
  cursor: pointer;
}

.act-color {
  color: #58b4ab !important;;
  border-color: #58b4ab !important;
}
.act-type a {
  border-bottom: 3px solid #58b4ab;
  padding-bottom: .5vh;
}

.search-add {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #fff;
}

.search-add-box {
  display: flex;
  border: 2px solid #ccc;
  flex: 1 0 auto;
  align-items: center;
  transition: all .3s;
}

.icon-search {
  padding: 0 1vh;
  color: #777;
}

.icon-finish {
  display: none;
}

.icon-nofinish:hover .icon-finish{
  display: block;
  transition: all 1s;
}

input{
  border: none;
  font-size: 3.5vh;
  height: 7vh;
  padding-left: 1vh;
  flex: 1 0 auto;
  outline: none;
  color: #555;
  letter-spacing: .3vh;
}

.search-add-box input::placeholder{
  color: #ccc;
  letter-spacing: .5vh;
}

.icon-add {
  padding: 1vh;
  color: #777;
}

.theme-btn {
  display: flex;
  align-self: center;
  padding: 0 4vh;
}

main {
  display: flex;
  overflow: hidden;
}

aside {
  flex: 0 0 41vh;
  height: 88vh;
  box-shadow: 2px 4px 6px 0px #ccc;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  user-select: none;
}

.nav .nav-todo {
  display: flex;
  flex-direction: column;
}

.nav li > a {
  pointer-events: none;
}

.delete {
  color: #f55b5b;
}

.deleteLi {
  background-color: inherit;
}

.nav ul li:hover {
  cursor: pointer;
}

.nav ul li:hover a {
  border-bottom: 3px solid #99cccc;
  padding-bottom: .5vh;
  transition: all .3s;
}

.nav ul{
  margin-top: .5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.nav ul li {
  flex: 1 0 10vh;
}

/*让 nav-level 元素排序最末又使其可以控制兄弟元素*/
.nav-level {
  order: 1;
}

.nav-level:hover ~li a {
  border: none;
}

.nav ul li a{
  line-height: 10vh
}

section{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1.8vh 7vh;
  flex-grow: 2;
}

section .todo-title span {
  word-break: break-all;
  display: block;
}

section .todo-title span:focus {
  background-color: rgba(255,255,255,.8);
  color: #666;
}

.todo-each-day {
  margin-bottom: 2vh;
}

.todo-time {
  display: flex;
  flex-direction: column;
  margin-left: -2vh;
}

.todo-week {
  text-align: center;
  width: 18vh;
  font-size: 8vh;
}

.todo-date {
  display: flex;
  width: 18vh;
  text-align: center;
  font-size: 3.2vh;
  justify-content: center;
}

.todo-date span {
  width: 3vh;
  font-size: 3vh;
}

.todo-list {
  margin: 2vh 4vh;
}

.todo-list li {
  transition: all .1s;
  cursor: pointer;
}

.todo-list li:hover {
  box-shadow: 2px 2px 5px 1px #888;
}

.todo-focus {
  margin-left: -4vh;
  box-shadow: 2px 2px 5px 1px #888;
}

.todo-box {
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-radius: 1.5vh;
  margin-bottom: 2vh;
  padding: 1vh 2vh;
  align-items: center;
  font-size: 4.5vh;
}

.todo-icon {
  display: flex;
}

.icon-delete {
  margin-left: .3vh;
}

article {
  flex: 0 0 41vh;
  box-shadow:  0px 2px 11px 0px #ccc;
}

textarea {
  margin: 0 2vh 2vh 2vh;
  color: #666;
  height: 90%;
  font: 3.5vh Helvetica;
  outline: none;
  border: none;
  letter-spacing: .1vh;
}

textarea::placeholder {
  color: #ccc;
  letter-spacing: .2vh;
}


/* 模态框 */
.modal {
  display: none;
}

.modal-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, .6);
}

.modal-box {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(244, 244, 244);
  width: 40vw;
  height: 30vh;
  border-radius: 7px;
}

.modal-box p {
  font-weight: bold;
  margin-top: 4vh;
  letter-spacing: .5vh;
}

.delete-all-btn {
  display: flex;
  justify-content: center;
}

.modal-box a {
  margin: 0 .5vh;
  border-radius: 4px;
  margin-top: 9vh;
  width: 13vh;
  padding: 1vh 0;
  color: #fff;
  font-size: 3vh;
  cursor: pointer;
  transition: all .3s;
}

.modal-box .btn-no {
  background-color: #8FB4AA;
}

.modal-box .btn-no:hover {
  background-color: #58b4ab;
}

.modal-box .btn-yes {
  background-color: #DA9798;
}
.modal-box .btn-yes:hover {
  background-color: #DA635D;
}



/*添加效果*/
.active {
  display: inline;
}

/* 响应式处理 */

@media screen and (max-width: 64em) {
  article {
    display: none;
  }
}

@media screen and (max-width: 45em) {
  aside, .shoot, .theme-btn {
    display: none;
  }

  .search-add{
    margin: 20px;
  }

  section {
    padding: 20px;
  }
}