@use '../../../abstracts/variables' as *;
@use '../../../abstracts/mixins' as *;

.profile-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-blur;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &__utils {
    display: flex;

    &__return {
      font-size: 1.5rem;
      transform: scaleX(0.9);
      cursor: pointer;
    }

    &__gap {
      flex-grow: 1;
    }

    &__close {
      font-size: 1.5rem;
      transform: scaleY(0.8);
      font-weight: 500;
      cursor: pointer;
    }
  }

  &__content {
    padding: 0.5rem 5rem;
  }

  &__logout {
    color: $mainRed;
  }

  &__btn {
    margin: 0.5rem 0;
  }

  &__btn--change-username {
    background-color: $mainGreen;
    border: 1px solid $mainGreen;
  }

  &__btn--change-username:hover {
    background-color: $secondGreen;
    border: 1px solid $secondGreen;
  }

  &__btn--change-password {
    background-color: $mainPurple;
    border: 1px solid $mainPurple;
  }

  &__btn--change-password:hover {
    background-color: $secondPurple;
    border: 1px solid $secondPurple;
  }

  &__btn--logout {
    background-color: $mainRed;
    border: 1px solid $mainRed;
  }

  &__btn--logout:hover {
    background-color: $secondRed;
    border: 1px solid $secondRed;
  }
}
