@use '../../../abstracts/variables' as *;
@use '../../../abstracts/mixins' as *;

.profile-popup {
  &__change-password {
    display: flex;
    flex-direction: column;
    @include atMedium {
      width: 320px;
    }
    text-align: center;
  }

  &__welcome {
    letter-spacing: 0.5vh;
    font-size: 1.3rem;
    color: $color-dark-2;

    @include atMedium {
      font-size: 1.7rem;
    }
  }

  &__input {
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    outline: none;
    color: $color-dark-1;
    transition: all 0.2s;
  }

  &__input::placeholder {
    color: $color-light;
  }

  &__input:focus {
    border-color: $mainPurple !important;
  }

  &__button {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1 0 auto;
    border: 1px solid $mainPurple;
    background-color: $mainPurple;
    border-radius: 4px;
    padding: 0.5rem 0;
    margin-top: 1rem;
    color: #fff;
    font-size: 3vh;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
  }

  &__button:hover {
    background-color: $secondPurple;
    border-color: $secondPurple;
  }
}
