@use '../abstracts/variables' as *;

.level-light {
  color: $mainGreen;
}

.level-usual {
  color: $mainPurple;
}

.level-heavy {
  color: $mainRed;
}

.bgc-light {
  background-color: $mainGreen;
}
.bgc-usual {
  background-color: $mainPurple;
}
.bgc-heavy {
  background-color: $mainRed;
}
