@use '../abstracts/variables' as *;

.level-light {
  color: $mainGreen;
}

.level-usual {
  color: $mainPurple;
}

.level-heavy {
  color: $mainRed;
}

li[level='level-light'] {
  background-color: $mainGreen;
}

li[level='level-usual'] {
  background-color: $mainPurple;
}

li[level='level-heavy'] {
  background-color: $mainRed;
}
