@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// 提交按钮
.button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  border-radius: 4px;
}

.button:active {
  padding-left: 1px;
}

.close {
  color: $color-dark-2;
}

.close:hover {
  color: $color-dark-1;
}
