/* 模态框 */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, .6);

  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out;

  &__box {
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 244, 244);
    width: 13rem;
    height: 10rem;
    border-radius: 7px;

    @mixin atSmall {
      width: 20rem;
      height: 10rem;
    }

    @mixin atMedium {
      width: 30rem;
      height: 13rem;
    }
  }

  &__aware {
    font-weight: bold;
    margin-top: 4vh;
    letter-spacing: .5vh;
    font-size: 1.5rem;

    @mixin atSmall {
      font-size: 2rem;
    }
  }

  &__delete {
    display: flex;
    justify-content: center;
  }

  &__box a {
    margin: 0 .5vh;
    border-radius: 4px;
    width: 13vh;
    padding: 1vh 0;
    color: #fff;
    font-size: 3vh;
    cursor: pointer;
    transition: all .3s;
    margin-top: 3rem;

    @mixin atMedium {
      margin-top: 4.5rem;
    }
  }

  &__btn-no {
    background-color: #8FB4AA;
  }

  &__btn-no:hover {
    background-color: $mainGreen;
  }

  &__btn-yes {
    background-color: #DA9798;
  }

  &__btn-yes:hover {
    background-color: $mainRed;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}