/* 响应式处理 */
@media screen and (max-width: 64em) {
  article {
    display: none;
  }
}

@media screen and (max-width: 45em) {
  aside, .random-task, .theme-btn {
    display: none;
  }

  .search-add{
    margin: 20px;
  }

  .todo {
    padding: 20px;
  }
}