/* 左侧工具栏 */
.sidebar {
    display: flex;
    padding: 0 1rem;
    height: 88vh;
    box-shadow: 2px 4px 6px 0px #ccc;

  @mixin atSmall {
    padding: 0 .6rem;
    font-size: 1.5rem;
  }

  @mixin atMedium {
    padding: 0 3rem;
    font-size: 2rem;
  }

  /* 工具栏容器 */
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    user-select: none;

    & ul{
      margin-top: .5vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
    }

    & ul li {
      /*flex: 1 0 10vh;*/
    }

    & ul li:hover {
      cursor: pointer;
    }

    & ul li:hover a {
      border-bottom: 3px solid #99cccc;
      padding-bottom: .5vh;
      transition: all .3s;
    }

    & ul li a{
      pointer-events: none;
      line-height: 10vh;
    }

    & .icon {
      display: inline;

      @mixin atSmall {
        display: none;
      }
    }

    & span {
      display: none;

      @mixin atSmall {
        display: inline;
      }
    }
  }

  &__todo-list {
    display: flex;
    flex-direction: column;
  }

  /*让 sidebar-list-level 元素排序最末又使其可以控制兄弟元素*/
  &__list-level {
    order: 1;
  }

  &__list-level:hover ~li a {
    border: none;
  }

  &__delete {
    background-color: inherit;

    a {
      color: #f55b5b;
    }
  }

  &__act a {
    border-bottom: 3px solid $mainGreen;
    padding-bottom: .5vh;
  }
}