 /* 主要任务区 */
.todolist {
  display: flex;
  overflow-y: auto;
  padding: .4rem 1rem;
  flex-grow: 1;
  flex-direction: column;

  @mixin atSmall {
    padding: .7rem 2rem;
  }

  &__time {
    display: flex;
    flex-direction: column;
    margin: 7vh 0 1vh -6vh;
  }

  &__time:first-of-type {
    margin: -2vh 0 1vh -6vh;
  }

  &__week {
    text-align: center;
    width: 18vh;
    font-size: 2.5rem;

    @mixin atSmall {
     font-size: 3.5rem;
    }
  }

  &__date {
    display: flex;
    width: 18vh;
    text-align: center;
    font-size: 3.2vh;
    justify-content: center;
  }

  &__list {
    margin: 2vh 0vh 2vh 4vh;
  }

  &__content {
    transition: all .1s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-radius: 1.5vh;
    padding: 1vh 2vh;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: .8rem;

    @mixin atMedium {
      font-size: 2rem;
    }
  }

  &__content:hover {
    box-shadow: 2px 2px 5px 1px #888;
  }

  &__title {
    word-break: break-all;
    display: block;
  }

  &__title:focus {
    background-color: rgba(255,255,255,.8);
    color: #666;
  }

  &__focus {
    margin-left: -4vh;
    box-shadow: 2px 2px 5px 1px #888;
  }
}