/* 头部导航 */
header {
  display: flex;
  flex: 0 0 12vh;
  background-color: #fff;
  box-shadow:  0px 2px 11px 0px #ccc;
  color: #777;
}

.random-task {
  text-align: center;
  line-height: 12vh;
  padding: 0 2vh;
  user-select: none;

  &__fire {
    letter-spacing: 1vh;
    cursor: pointer;
  }

  &__fire:hover {
    color: $mainGreen;
  }

  &__state {
    font-size: 3.5vh;
    cursor: pointer;
  }
}

.search-add {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #fff;

  &__content {
    display: flex;
    border: 2px solid #ccc;
    flex: 1 0 auto;
    align-items: center;
    transition: all .3s;
  }

  &__input {
    border: none;
    font-size: 3.5vh;
    height: 7vh;
    padding-left: 1vh;
    flex: 1 0 auto;
    outline: none;
    color: #555;
    letter-spacing: .3vh;
  }

  &__input::placeholder{
    color: #ccc;
    letter-spacing: .5vh;
  }
}

.theme-btn {
  display: flex;
  align-self: center;
  padding: 0 4vh;
}

.theme-green {
  background-color: $mainGreen;
  background-image: url('../img/theme1.png');
  color: #fff;
}

.theme-purple {
  background-color: $mainPurple;
  background-image: url('../img/theme2.png');
  color: #fff;
}

.theme-gradual {
  background: #3E5151;
  background: linear-gradient(to right bottom, $mainGreen, $mainPurple);
  color: #fff;
}