@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* 右侧任务详细描述 */
.detail {
  display: none;

  @include selection($mainGreen, #fff);

  @include atSmall {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 11px 0px $color-light;
  }

  &__paragraph {
    margin: 0 1rem 1rem 1rem;
    color: $color-dark-1;
    height: 90%;
    outline: none;
    border: none;
    font-size: 1.5rem;
  }

  &__paragraph::placeholder {
    color: $color-light;
  }
}
