@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* 左侧工具栏 */
.sidebar {
  display: flex;
  padding: 0 1.5rem;
  box-shadow: 2px 4px 6px 0px #ccc;

  @include atMedium {
    padding: 0 0rem;
  }

  /* 工具栏容器 */
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    user-select: none;

    ul {
      text-align: center;
      cursor: pointer;
    }

    ul li:hover a {
      border-bottom: 3px solid #99cccc;
      padding-bottom: 0.5vh;
      transition: all 0.3s;
    }

    ul li a {
      pointer-events: none;
      line-height: 5rem;
    }

    .icon {
      @include atSmall {
        display: none;
      }
    }

    span {
      display: none;

      @include atSmall {
        display: inline-block;
      }
    }
  }

  &__todo-list {
    display: flex;
    flex-direction: column;
  }

  &__list-level {
    order: 1;
  }

  &__delete a {
    color: $mainRed;
  }

  &__act a {
    border-bottom: 3px solid $mainGreen;
    padding-bottom: 0.5rem;
  }
}
