@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* 头部导航 */
.site-header {
  display: flex;
  flex-basis: 10%;
  background-color: #fff;
  box-shadow: 0px 2px 11px 0px #ccc;
  color: $color-dark-1;
  font-size: 1.5rem;

  /* 随机任务区域 */
  &__random-task {
    display: none;
    align-self: center;

    @include atSmall {
      display: block;
      line-height: 12vh;
      margin: 0 0.7rem;
      user-select: none;
    }

    @include atMedium {
      margin: 0 1.1rem;
    }

    &__fire {
      font-size: 1.5rem;
      cursor: pointer;

      @include atMedium {
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
    }

    &__fire:hover {
      color: $mainGreen;
    }
  }

  &__login {
    align-self: center;
    cursor: pointer;
    font-size: 1rem;

    @include atSmall {
      margin: 0 0.7rem 0 0;
    }

    @include atMedium {
      font-size: 1.3rem;
      margin: 0 1.1rem 0 0;
    }
  }

  &__loginButton {
    vertical-align: middle;
    display: none;

    @include atSmall {
      display: inline;
    }
  }

  &__loginButton:hover {
    color: $mainGreen;
  }

  &__loginIcon {
    padding: 0 1.5rem;

    @include atSmall {
      display: none;
    }
  }

  &__loginIcon:hover {
    color: $mainGreen;
  }

  // 用户头像
  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 2px;
    border: 1px solid $mainPurple;
    background-color: $mainPurple;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;

    @include atSmall {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0.8rem 0 0;
    }

    @include atMedium {
      width: 2rem;
      height: 2rem;
      font-size: 1.4rem;
      margin: 0 1.1rem 0 0;
    }
  }

  &__username {
    color: $color-white;
  }

  /* 顶部搜索栏 */
  &__search-box {
    @include selection($mainGreen, #fff);

    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #fff;
    margin-right: 1.5rem;

    @include atSmall {
      margin-right: 0;
    }

    &__content {
      display: flex;
      border: 1.5px solid #ccc;
      flex: 1 0 auto;
      align-items: center;
      transition: all 0.3s;
    }

    &__input {
      width: 0;
      border: none;
      font-size: 1.5rem;
      padding-left: 1vh;
      flex: 1 0 auto;
      outline: none;
      color: $color-dark-1;
      letter-spacing: 0.3vh;
    }

    &__input::placeholder {
      color: $color-light;
      letter-spacing: 0.5vh;
    }
  }

  /* 主题切换 */
  &__theme-btn {
    display: none;

    @include atSmall {
      display: flex;
      align-self: center;
      margin: 0 1rem;
    }

    @include atMedium {
      margin: 0 1.7rem;
    }
  }
}

.theme-green {
  background-color: $mainGreen;
  background-image: url('../img/theme1.png');
  color: #fff;
}

.theme-purple {
  background-color: $mainPurple;
  background-image: url('../img/theme2.png');
  color: #fff;
}

.theme-gradual {
  background: #3e5151;
  background: linear-gradient(to right bottom, $mainGreen, $mainPurple);
  color: #fff;
}
