@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* 头部导航 */
.site-header {
  display: flex;
  flex: 0 0 12vh;
  background-color: #fff;
  box-shadow: 0px 2px 11px 0px #ccc;
  color: #777;

  @include atSmall {
    padding: 0;
  }

  /* 随机任务区域 */
  &__random-task {
    display: none;
    align-self: center;

    @include atSmall {
      display: block;
      line-height: 12vh;
      padding: 0 0.5rem 0 1.1rem;
      user-select: none;
    }

    &__fire {
      font-size: 1.5rem;
      cursor: pointer;

      @include atMedium {
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
    }

    &__fire:hover {
      color: $mainGreen;
    }
  }

  &__login {
    display: block;
    align-self: center;
    cursor: pointer;
    font-size: 1rem;

    @include atMedium {
      font-size: 1.3rem;
    }
  }

  &__splitLine {
    display: none;

    @include atSmall {
      display: inline;
    }
  }

  &__loginButton {
    vertical-align: middle;
    display: none;

    @include atSmall {
      display: inline;
      padding: 0 0.7rem 0 0.3rem;
    }

    @include atMedium {
      padding: 0 1.1rem 0 0.5rem;
    }
  }

  &__loginButton:hover {
    color: $mainGreen;
  }

  &__loginIcon {
    padding: 0 1rem;

    @include atSmall {
      display: none;
    }
  }

  &__loginIcon:hover {
    color: $mainGreen;
  }

  /* 顶部搜索栏 */
  &__search-box {
    @include selection($mainGreen, #fff);

    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #fff;

    &__content {
      display: flex;
      border: 1.5px solid #ccc;
      flex: 1 0 auto;
      align-items: center;
      transition: all 0.3s;
    }

    &__input {
      width: 0;
      border: none;
      font-size: 3.5vh;
      padding-left: 1vh;
      flex: 1 0 auto;
      outline: none;
      color: #555;
      letter-spacing: 0.3vh;
    }

    &__input::placeholder {
      color: #ccc;
      letter-spacing: 0.5vh;
    }
  }

  /* 主题切换 */
  &__theme-btn {
    display: none;

    @include atSmall {
      display: flex;
      align-self: center;
      padding: 0 2vh;
    }

    @include atMedium {
      padding: 0 1.7rem;
    }
  }
}

.theme-green {
  background-color: $mainGreen;
  background-image: url('../img/theme1.png');
  color: #fff;
}

.theme-purple {
  background-color: $mainPurple;
  background-image: url('../img/theme2.png');
  color: #fff;
}

.theme-gradual {
  background: #3e5151;
  background: linear-gradient(to right bottom, $mainGreen, $mainPurple);
  color: #fff;
}
