@use 'variables' as *;

// Media query
@mixin atSmall {
  @media (min-width: 530px) {
    & {
      @content;
    }
  }
}

@mixin atMedium {
  @media (min-width: 957px) {
    & {
      @content;
    }
  }
}

@mixin atLarge {
  @media (min-width: 1200px) {
    & {
      @content;
    }
  }
}

// Layout algorithm
@mixin layout($width: 15, $columns: 15) {
  $initial-basis: percentage($width / $columns);
  flex-basis: $initial-basis;
}

// Text selection
@mixin selection($background-color: transparent, $color: inherit) {
  ::selection {
    background-color: $background-color;
    color: $color;
  }
}
