// Color
$mainGreen: #58b4ab;
$mainPurple: #66638b;
$mainRed: #da635d;

$error: #f76a63;

$secondGreen: #8fb4aa;
$secondPurple: #837fa8;
$secondRed: #da9798;

$color-dark-1: #666;
$color-dark-2: #888;
$color-dark-3: #aaa;

$color-light: #ccc;

$color-white: #fff;
$color-black: #000;

$color-blur: rgba(0, 0, 0, 0.3);
