@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html,
body,
ul,
li,
h1,
h2,
h3,
p,
div,
main,
figure,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: $color-dark-2;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;

  @include atSmall {
    font-size: 75%;
  }

  @include atMedium {
    font-size: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
}

ul,
li {
  list-style: none;
}

@include selection;
