@use "../abstracts/variables" as *;

main {
  font-size: 1.5rem;
  color: $color-dark-1;
}

a {
  text-decoration: none;
  color: $color-dark-1;
}

h4 {
  margin: 1rem 0 0 1rem;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
