@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* 主要任务区 */
.todolist {
  flex-grow: 1;
  padding: 0 1.5rem;
  overflow-y: auto;

  &__sync-state {
    padding-top: 1rem;
    font-size: 1.6rem;
    color: $color-dark-3;

    @include atMedium {
      padding-top: 0.5rem;
      font-size: 1.2rem;
    }
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__week {
    font-size: 3rem;

    @include atMedium {
      font-size: 2.5rem;
    }
  }

  &__date {
    color: $color-dark-3;
    @include atMedium {
      font-size: 1.2rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0.5rem 0 1rem 1.5rem;
    transition: all 0.1s;
    cursor: pointer;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;

    @include selection($mainGreen, #fff);
  }

  &__content:hover {
    box-shadow: 2px 2px 5px 1px $color-dark-2;
  }

  &__title {
    word-break: break-all;
  }

  &__title:focus {
    background-color: rgba(255, 255, 255, 0.8);
    color: $color-dark-1;
    outline: 1px solid $color-dark-3;
  }

  &__focus {
    margin-left: 0;
    box-shadow: 2px 2px 5px 1px $color-dark-2;
  }
}
