@use "../abstracts/variables" as *;

.hidden {
  display: none !important;
}

.active {
  display: inline !important;
}

.act-color {
  color: $mainGreen !important;
  border-color: $mainGreen !important;
}

.error {
  color: $error !important;
}

.fade {
  animation: fade 0.3s;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
