@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;

/* 登陆模态框 */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-blur;

  @include selection($mainGreen, #fff);

  transition: all 0.3s ease-out;

  &__box {
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(244, 244, 244);
    border-radius: 7px;
    padding: 1rem 2rem;

    @include atSmall {
      padding: 1rem 6rem;
    }
  }

  /* 登陆框 */
  &__signin {
    display: flex;
    flex-direction: column;
    @include atMedium {
      width: 320px;
    }

    &__welcome {
      letter-spacing: 0.5vh;
      font-size: 1.3rem;
      color: $color-dark-2;

      @include atMedium {
        font-size: 1.7rem;
      }
    }

    &__input {
      flex-basis: 1;
      margin-top: 1rem;
      padding: 0.7rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      font-size: 1.3rem;
      outline: none;
      color: $color-dark-1;
      transition: all 0.2s;
    }

    &__input::placeholder {
      color: $color-light;
    }

    &__input:focus {
      border-color: $mainGreen !important;
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 1px solid $mainGreen;
      background-color: $mainGreen;
      border-radius: 4px;
      padding: 0.5rem 0;
      margin-top: 1rem;
      color: #fff;
      font-size: 3vh;
      cursor: pointer;
      transition: all 0.3s;
      outline: none;
    }

    &__button:hover {
      background-color: $mainGreen;
      border-color: $mainGreen;
    }
  }

  /* 注册框 */
  &__signup {
    display: flex;
    flex-direction: column;
    @include atMedium {
      width: 320px;
    }

    &__welcome {
      letter-spacing: 0.5vh;
      font-size: 1.3rem;
      color: $color-dark-2;

      @include atMedium {
        font-size: 1.7rem;
      }
    }

    &__input {
      margin-top: 1rem;
      padding: 0.7rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      font-size: 1.3rem;
      outline: none;
      color: $color-dark-1;
      transition: all 0.2s;
    }

    &__input::placeholder {
      color: $color-light;
    }

    &__input:focus {
      border-color: $mainGreen !important;
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 100%;
      flex: 1 0 auto;
      border: 1px solid $mainPurple;
      background-color: $mainPurple;
      border-radius: 4px;
      padding: 0.5rem 0;
      margin-top: 1rem;
      color: #fff;
      font-size: 3vh;
      cursor: pointer;
      transition: all 0.3s;
      outline: none;
    }

    &__button:hover {
      background-color: $mainPurple;
      border-color: $mainPurple;
    }
  }

  /* 登陆注册切换 */
  &__bottom {
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-end;

    span {
      margin: 0 0.5rem;
    }

    a {
      color: $color-dark-2;
    }
  }

  &__changeState:hover {
    color: $mainGreen;
  }

  // 退出
  &__exit:hover {
    color: $mainRed !important;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
