<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="flex flex-col h-screen text-gray-500 debug-screens">
  <!------------------- Header Section ------------------->
  <!------------------- Header Section ------------------->
  <header class="flex items-center px-2 py-4 shadow-md">
    <!-- LOGO -->
    <div class="hidden mx-2 md:block ">
      <span
        class="text-3xl font-bold tracking-widest text-transparent cursor-pointer bg-gradient-to-r from-green to-purple bg-clip-text">PureTodo</span>
    </div>

    <!-- Login button -->
    <div class="mx-2">
      <a href="#" class="hidden text-xl font md:block">登录</a>
      <svg class="icon md:hidden">
        <use href="#sprite_login"></use>
      </svg>
    </div>

    <!-- Search Bar -->
    <div class="flex flex-1 px-3 py-2 mx-2 space-x-2 border border-gray-00">
      <!-- open search -->
      <svg class="icon">
        <use href="#sprite_search"></use>
      </svg>
      <!-- search input -->
      <input type="text" placeholder="点击放大镜开启关闭搜索功能..." class="flex-1 focus:outline-none">
      <!-- change level -->
      <svg class="icon">
        <use href="#sprite_change-level"></use>
      </svg>
      <!-- add task  -->
      <svg class=" icon">
        <use href="#sprite_add"></use>
      </svg>
    </div>

    <!-- Dark mode -->
    <div class="mx-2">
      <svg class="hidden icon sm:block">
        <use href="#sprite_moon"></use>
      </svg>
    </div>
  </header>

  <!------------------- Main Section ------------------->
  <!------------------- Main Section ------------------->
  <main class="flex flex-1 text-2xl">
    <!-- Navigation -->
    <section class="flex flex-col items-center justify-between py-6 text-center shadow-right w-2/14">
      <!-- top part -->
      <ul class="space-y-12">
        <li>
          <a href="#" class="nav-active">
            <span class="hidden md:block">工作</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_work"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block">娱乐</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_play"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block">其他</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_others"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block text-green">LIGHT</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_level1"></use>
            </svg>
          </a>
          <a href="#" class="hidden">
            <span class="hidden md:block text-purple">USUAL</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_level2"></use>
            </svg>
          </a>
          <a href="#" class="hidden">
            <span class="hidden md:block text-red">HEAVY</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_level3"></use>
            </svg>
          </a>
        </li>
      </ul>

      <!-- bottom part -->
      <ul class="space-y-12">
        <li>
          <a href="#">
            <span class="hidden md:block">已完成</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_done"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block">垃圾箱</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_bin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden text-red md:block">DELETE</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_delete-all"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>

    <!-- Tasks -->
    <section class="border w-9/14">

    </section>

    <!-- Details -->
    <section class="bg-yellow-100 border-yellow-400 w-3/14"></section>
  </main>
</body>

</html>