<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="flex flex-col items-center justify-center min-h-screen pb-40 space-y-10 bg-yellow-50">
    <svg class="w-40 h-40">
      <use href="#sprite_candy"></use>
    </svg>
    <h1 class="text-6xl text-gray-500">Hello, there...</h1>
  </div>
</body>

</html>