<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="flex flex-col h-screen text-gray-500 debug-screens">
  <!------------------- Header Section ------------------->
  <!------------------- Header Section ------------------->
  <header class="flex items-center px-2 py-4 shadow-bottom ">
    <!-- LOGO -->
    <div class="hidden mx-2 md:block ">
      <span
        class="text-3xl font-bold tracking-widest text-transparent cursor-pointer bg-gradient-to-r from-green to-purple bg-clip-text">PureTodo</span>
    </div>

    <!-- Login button -->
    <div class="mx-2">
      <a href="#" class="hidden text-xl font md:block">登录</a>
      <svg class="icon md:hidden">
        <use href="#sprite_login"></use>
      </svg>
    </div>

    <!-- Search Bar -->
    <div class="flex flex-1 px-3 py-2 mx-2 space-x-2 border border-gray-00">
      <!-- open search -->
      <svg class="icon">
        <use href="#sprite_search"></use>
      </svg>
      <!-- search input -->
      <input type="text" placeholder="点击放大镜开启关闭搜索功能..."
        class="w-4/5 text-lg tracking-widest placeholder-gray-300 sm:w-full focus:outline-none">
      <!-- change level -->
      <svg class="icon">
        <use href="#sprite_change-level"></use>
      </svg>
      <!-- add task  -->
      <svg class=" icon">
        <use href="#sprite_add"></use>
      </svg>
    </div>

    <!-- Dark mode -->
    <div class="sm:mx-2">
      <svg class="hidden icon sm:block">
        <use href="#sprite_moon"></use>
      </svg>
    </div>
  </header>

  <!------------------- Main Section ------------------->
  <!------------------- Main Section ------------------->
  <main class="flex overflow-y-hidden text-2xl">
    <!-- Navigation -->
    <section
      class="flex flex-col items-center justify-between px-4 py-6 text-center select-none xl:px-10 2xl:px-14 shadow-right">
      <!-- top part -->
      <ul class="space-y-12">
        <li>
          <a href="#" class="nav-active">
            <span class="hidden md:block">工作</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_work"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block">娱乐</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_play"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block">其他</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_others"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block text-green">LIGHT</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_level1"></use>
            </svg>
          </a>
          <a href="#" class="hidden">
            <span class="hidden md:block text-purple">USUAL</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_level2"></use>
            </svg>
          </a>
          <a href="#" class="hidden">
            <span class="hidden md:block text-red">HEAVY</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_level3"></use>
            </svg>
          </a>
        </li>
      </ul>

      <!-- bottom part -->
      <ul class="space-y-12">
        <li>
          <a href="#">
            <span class="hidden md:block">已完成</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_done"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden md:block">垃圾箱</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_bin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="hidden text-red md:block">DELETE</span>
            <svg class="block icon md:hidden">
              <use href="#sprite_delete-all"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>

    <!-- Task section -->
    <section class="flex flex-col justify-between flex-1 md:flex-row">

      <!-- Tasks -->
      <section class="px-6 py-4 space-y-12 overflow-y-scroll h-4/6 md:h-full md:w-3/4">

        <!-- Each day of tasks -->
        <div class="space-y-2">
          <!-- timestamp -->
          <div class="flex justify-start ">
            <div class="font-mono select-none">
              <p class="text-5xl ">SUN</p>
              <p class="text-lg text-gray-400">2099/09/09</p>
            </div>
          </div>

          <!-- task list -->
          <ul class="space-y-3 text-white">
            <li class="flex items-center justify-between px-3 py-1 space-x-8 rounded-lg shadow-task bg-red">
              <div>
                <span>Take a picture of an old camera that can't take pictures anymore.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>

            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-purple">
              <div>
                <span>Do everything in slow motion.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>

            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Plant carrots. Grow carrots. Pick carrots. Wash carrots. Eat carrots.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>

          </ul>
        </div>

        <!-- Each day of tasks -->
        <div class="space-y-2">
          <!-- timestamp -->
          <div class="flex justify-start ">
            <div class="font-mono select-none">
              <p class="text-5xl">SAT</p>
              <p class="text-lg text-gray-400">2099/09/08</p>
            </div>
          </div>

          <!-- task list -->
          <ul class="space-y-3 text-white">
            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Translate and Re-Translate your fav songs lyrics using google translate.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>
            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Translate and Re-Translate your fav songs lyrics using google translate.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>
            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Translate and Re-Translate your fav songs lyrics using google translate.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>
            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Translate and Re-Translate your fav songs lyrics using google translate.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>
            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Translate and Re-Translate your fav songs lyrics using google translate.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>
            <li class="flex items-center justify-between px-3 py-1 ml-6 space-x-8 rounded-lg bg-green">
              <div>
                <span>Translate and Re-Translate your fav songs lyrics using google translate.</span>
              </div>
              <div class="flex">
                <svg class="icon-white">
                  <use href="#sprite_finish"></use>
                </svg>
                <svg class="icon-white">
                  <use href="#sprite_delete"></use>
                </svg>
              </div>
            </li>
          </ul>
        </div>

      </section>

      <!-- Details -->
      <section class="p-4 pb-12 h-2/6 md:h-full shadow-left md:w-1/4">
        <p class="font-bold truncate">Take a picture</p>
        <textarea class="w-full h-full py-2 overflow-y-auto text-xl placeholder-gray-300 resize-none focus:outline-none"
          placeholder="添加任务详情..."></textarea>
      </section>
    </section>

  </main>
</body>

</html>